body{
    background-color:#ff7f50;
}
.head{
    color: darkblue;
}
#bglime{
    background-color: lime;
}
#inside-head{
    color: red;
}
p{
    color: white;
}
#para{
    color: green;
}
#thirdpara{
    color: black;
    font-size: large;
}
ul li:nth-child(1) a {
    background-color: yellow;
}

ul li:nth-child(2) a {
    background-color: blue;
}